<!DOCTYPE html>
<html>
<head>
	<title>Quotes API Documentation</title>
	<link rel="icon" href="/assets/api.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>
<body>
	<!-- EJS allows for code fragments called 'partials', similar to React components -->
	<%- defineContent('docs') %>

	<footer>
		Quotes API Documentation v0.0.0
	</footer>
</body>
</html>