<%- contentFor('docs') %>
<main>
	<div class="container">
		<div>
			Hi there! You can create some documentation and put it here! Try making a few additional pages and learn how EJS templating works!
		</div>
		<div>
			This is filler: Lorem ipsum dolor sit amet, mea adhuc ponderum ne, audiam veritus ponderum id vel. Est lorem eruditi facilisi at, te altera corrumpit adolescens usu. Everti offendit at mel, putent denique vulputate cu his. Novum error apeirian eam et. Eu vis vocibus civibus perpetua, ex est populo saperet.
			<br>
			Convenire vituperatoribus eos ne, alii nusquam erroribus pri at. Civibus maluisset duo ea, qui ne doming splendide, omnium tacimates nominati ad pri. Sit ne omnesque mnesarchum adversarium, dicta tollit malorum vis no, in pri quem minim graeci. Molestiae evertitur conceptam id his, ius atqui saepe cu. Sit feugait suscipiantur ad.
		</div>
	</div>		

</main>

	